aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
faiss-cpu
filetype
frozenlist
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
multidict
mypy-extensions
narwhals
numpy
orjson
packaging
pandas
pillow
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pydeck
pyparsing
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
requests-toolbelt
rpds-py
rsa
six
smmap
sniffio
SQLAlchemy
streamlit
tenacity
toml
tornado
tqdm
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
watchdog
yarl
zstandard
sentence-transformers